<div class="row">
    <div class="col text-center" id="puglist">
        <h2>Pugs to Pet</h2>
        {{#each pugs}} {{#unless didpet}}

        <form action="/pugs/done" method="post">
            <input type="hidden" name="id" value="{{id}}"> <img src="../assets/images/{{imgID}}.jpg" alt="{{pugName}}">
            <button type="submit" id="donebtn" class="btn btn-outline-secondary">Pet {{pugName}}</button>
        </form> {{/unless}}
        <br/> {{/each}}
    </div>
    <div class="col text-center" id="pugdone">
        <h2 class="text-center">Happy Pugs!</h2>
        <ul>
            {{#each pugs}} {{#if didpet}}
            <li><img src="../assets/images/{{imgID}}.jpg" alt="{{pugName}}">{{pugName}}</li>
            {{/if}} {{/each}}
        </ul>
    </div>
</div>